
# Logs
logs
*.log


# Node Files #
**/**/node_modules

# Dist #
**/**/**/dist
**/**/**/public
**/**/**/compiled
**/**/**/.awcache

# Doc #
/doc/

# IDE #
.idea/
*.swp


# Angular #
*.ngfactory.ts
*.css.shim.ts
*.ngsummary.json
*.shim.ngstyle.ts